body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button[type="submit"],
button[name="clearLists"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover,
button[name="clearLists"]:hover {
    background-color: #0056b3;
}

.error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

ol {
    padding-left: 0;
    margin-top: 0;
}

li {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: bold;
    color: #007bff;
}

.grade {
    font-weight: bold;
    color: #28a745;
}

.classroom {
    font-weight: bold;
    color: #ffc107;
}

.number {
    font-weight: bold;
    color: #dc3545;
}

button[name="removeTask"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

button[name="removeTask"]:hover {
    background-color: #c82333;
}



a {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

a{
    background-color: #c82333;
}



p {
    color: #777;
    margin: 0;
    padding: 10px;
    text-align: center;
}
